@import url('https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700,800,900');
$white: hsl(232, 40%, 89%);
$keycolor:hsl(251, 59%, 70%);
$black:hsl(0, 0%, 8%);

// Global Styles
body 
{
    font-family:Barlow;
    margin: 0; 
    padding: 0;
    border: 0;
}

header 
{
   
    background-color: $keycolor;
    color: $white;
    text-align: center;
    padding: 10vw 2vw;
    height: 80%;
    background-image: url("img/Snapshots/The-Alley.jpg");
    
    h1
    {
        text-shadow: 1px 1px $black;
    } 
    h2
    {
        text-shadow: 1px 1px $black;
    } 
}
div 
{
    // background-color: inherit;
    font-weight: inherit;
}
p 
{
    margin: 0;
}
h1 
{
    margin: 0; 
    padding: 0;
    border: 0;
    font-weight: 300;
}
h2 
{
    font-weight: 200;
}
// Button Style
a.button 
{
    background-color: transparentize($black, .75);
    color: whitesmoke;
    padding: 15px 20px;
    text-decoration: none;
    transition: background-color 200ms;
}
  
a.button:hover 
{
    background-color: transparentize($black, .90);
}

// Specific Css

#bio 
{
    display: flex;
    height: 279.748454883px;
    border-top: 4px solid $black;
    border-bottom: 4px solid $black;
}
#profile 
{
    height: 100px;
    border-radius: 50px;
    width: 100px;
    margin: auto;
    border: 3px solid $black;
}
.left 
{
    margin: auto;
    background-color: $white;
    width:38.195302843%;
    height: 279.748454883px;
    display: flex;
    justify-content: center;
}
#right 
{
    h1 
    {
        text-align: center;
        padding-bottom: 2px;
        border-bottom: gray 2px solid;
        margin-bottom: 2px;
    }
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 6px;
    width: 61.804697157%;
    border-left: 3px solid $black;
    background-color: $white;
    display: flex; 
    flex-direction: column; 
}
main 
{
    text-align: center; 
    width: 100%; 
    background-color: lightslategrey; 
    height: 279.748454883px;
    
}
main
{
    background-color: $white;
}
nav 
{
    width: 100%;
    height: 106.858890817px;
    background-color: $black;
    color: $white;
    text-align: right;
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
}