main 
{
    background-color: lightblue; 
    height: 50vh;
    position: relative;
}
.img1 
{
    position: absolute;
    // top: ;
    right: 10px;
    bottom: 10px;
    // left: ;
}
.img2
{
    bottom: 20px; 
    left: 20px;
    position: absolute;
    z-index: 5;
}
.img3
{
    position: absolute;
    top: 10px;
    right: 10px;
}
.img4
{
    position: absolute;
    top: 20px;
    left: 20px;
}
div
{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparentize(khaki, .5);
}